<!-- card type 1 -->
<div class="card-1">
	<div class="card-icon">
		<img src="" alt="">
		<i class="icon"></i>
	</div>
	<div class="card-body">
		<h3 class="card-title">Title</h3>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, magni?</p>
	</div>
</div>


<!-- Card Type 2 -->
<div class="card-2">
	<div class="card-image">
		<img src="" alt="">
	</div>
	<div class="card-body">
		<h3 class="card-title">Title</h3>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, magni?</p>
	</div>
</div>
<!-- Card Type 2.1(List) -->
<div class="card-2 card-style-list">
	<div class="card-image">
		<img src="" alt="">
	</div>
	<div class="card-body">
		<h3 class="card-title">Title</h3>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, magni?</p>
	</div>
</div>


<!-- Card Type 3 -->
<div class="card-3">
	<div class="card-image">
		<img src="" alt="">
		<div class="hover-items">
			<div class="hover-inner">
				<a href=""></a>
			</div>
		</div>
	</div>
	<div class="card-body">
		<h3 class="card-title">Title</h3>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, magni?</p>
	</div>
</div>


<!-- Card Type 4 -->
<div class="card-4">
	<div class="card-image">
		<img src="" alt="">
		<div class="hover-items">
			<div class="hover-inner">
				<a href=""></a>
			</div>
		</div>
		<div class="card-badge">
			<span class="d-block"></span>
			<span class="d-block"></span>
		</div>
	</div>
	<div class="card-body">
		<h3 class="card-title">Title</h3>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, magni?</p>
	</div>
</div>


<!-- Card Type 5 -->
<div class="card-5">
	<h3 class="card-title">Title</h3>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, magni?</p>
	<div class="card-btns">
		<a href="" class="btn"></a>
	</div>
</div>
</div>