<!-- hero area with row/col -->
<div class="hero-area">
	<div class="container">
		<div class="banner-content">
			<div class="row">
				<div class="col-8">
					<h1>Big title</h1>
					<h2> small titlle</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, quod!</p>
					<div class="hero-btn">
						<a href="" class="btn">hero btn</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- hero area with row/col -->
<div class="hero-area">
	<div class="container">
		<div class="banner-content">

			<h1>Big title</h1>
			<h2> small titlle</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, quod!</p>
			<div class="hero-btn">
				<a href="" class="btn">hero btn</a>
			</div>

		</div>
	</div>
</div>

<!-- Slider With Content Slide -->
<div class="hero-area">
	<div class="container">
		<div class="banner-slider-wrapper">
			<div class="single-slide">
				<div class="banner-content">

					<div>
						<h1>Big title</h1>
						<h2> small titlle</h2>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, quod!</p>
						<div class="hero-btn">
							<a href="" class="btn">hero btn</a>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<!-- Slider With Background Slide -->
<div class="hero-area">
	<div class="banner-slider-wrapper">
		<div class="single-slide bg-image" style="background-iamge:url()">
			<div class="banner-content">
				<div class="container">

					<h1>Big title</h1>
					<h2> small titlle</h2>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, quod!</p>
					<div class="hero-btn">
						<a href="" class="btn">hero btn</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>