<!-- Off canvas Markup -->
<!-- Off canvas menu -->
<div class="offcanvas-menu">
	<!-- Off canvas trigger button -->
	<!-- <a href="#" class="off-canvas-btn">
        <span class=" fas fa-arrow-right"></span>
    </a> -->
	<aside class="off-canvas-wrapper menu-close">
		<!-- Off canvas close button -->
		<div class="btn-close-off-canvas">
			<i class="fas fa-times"></i>
		</div>
		<!-- Off canvas body -->
		<div class="off-canvas-inner">
			<div class="user-name-block">
				<i class="far fa-user-circle"></i>Mr. Robin
			</div>
			<div class="user-details-block">
				<div class="image">
					<img src="image/user-avatar.png" alt="">
				</div>
				<h3 class="title">Mr. Robin</h3>
				<span class="d-block profession">Gammer</span>
			</div>
			<ul class="off-menu-block">
				<li><a href="#"><i class="fal fa-user"></i><span>Profile</span></a></li>
				<li><a href="#"><i class="far fa-money-bill-alt"></i><span>Cashier/Balance</span></a></li>
				<li><a href="#"><i class="fas fa-cog"></i><span>Settings</span></a></li>
				<li><a href="#"><i class="far fa-play-circle"></i><span>Player</span></a></li>
				<li><a href="#"><i class="fas fa-history"></i><span>History</span></a></li>
				<li><a href="#"><i class="far fa-envelope"></i><span>Email</span></a></li>
				<li><a href="#"><i class="fas fa-gamepad"></i><span>Responsible
							Gambling</span></a></li>
			</ul>
			<ul class="off-menu-block style-2">
				<li><a href="#"><i class="fal fa-user"></i><span>All Games</span></a></li>
				<li><a href="#"><i class="far fa-money-bill-alt"></i><span>Live Casino</span></a></li>
				<li><a href="#"><i class="fas fa-cog"></i><span>Promotions</span></a></li>
				<li><a href="#"><i class="far fa-play-circle"></i><span>Faq</span></a></li>
				<li><a href="#"><i class="fas fa-history"></i><span>Payments</span></a></li>
				<li><a href="#"><i class="far fa-envelope"></i><span>Terms</span></a></li>
				<li><a href="#"><i class="fas fa-gamepad"></i><span>Conditions
							Gambling</span></a></li>
				<li><a href="#"><i class="fas fa-gamepad"></i><span>About Us</span></a></li>
			</ul>

		</div>
	</aside>
</div>