<button class="toggle-btn" type="button" data-toggle="collapse" data-target="#target-item" aria-expanded="false"
	aria-controls="target-item">
	Button with data-target
</button>

<div class="collapse toggle-body" id="target-item">
	<div class="toggle-inner">

	</div>
</div>